* {
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    position: relative;

}
.box-1{
    border: none;
    width: 350px;
    height: 500px;
    position: relative;
    top: 70px;
}
.box-2{
    border: none;
    width: 350px;
    height: 500px;
    position: relative;
    top: 70px;
}
.box-3{
    border: none;
    width: 350px;
    height: 500px;
    position: relative;
    top: 70px;
}
.box-1 {
    background-color:  hsl(31, 77%, 52%);
}
.box-2 {
    background-color: hsl(184, 100%, 22%);
}
.box-3 {
    background-color: hsl(179, 100%, 13%);
}
img {
    position: absolute;
    right: 240px;
    top: 50px;
}
h1 {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 110px;
    left: 50px;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    text-align: left;
    width: 250px;
    position: absolute;
    top: 190px ;
    left: 50px;
    line-height: 1.6;
}
.b1 {
    text-transform: capitalize;
    background-color:  hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    position: absolute;
    left: 40px;
    top: 400px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
}
.b1:hover {
    border: solid 3px white;
    color: white;
    background-color: hsl(31, 77%, 52%) ;
}
.b2 {
    text-transform: capitalize;
    background-color:  hsl(0, 0%, 95%);
    color:  hsl(184, 100%, 22%);
    position: absolute;
    left: 40px;
    top: 400px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
}
.b2:hover {
    border: solid 3px white;
    color: white;
    background-color: hsl(184, 100%, 22%) ;
}
.b3 {
    text-transform: capitalize;
    background-color:  hsl(0, 0%, 95%);
    color:  hsl(179, 100%, 13%);
    position: absolute;
    left: 40px;
    top: 400px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
}
.b3:hover {
    border: solid 3px white;
    color: white;
    background-color: hsl(179, 100%, 13%) ;
}